<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
    <ion-content class="padding">

        <a class="button button-outline button-positive" ng-click="showPopup()" style="border-radius:8px; margin:2%; width:96%;">
                Analyze
            </a>
        <hr>
        <div class="me">
            <p>
                {{chat.lastText}}
            </p>
        </div>
        <div class="you">
            {{chat.lastText}}
        </div>
        <hr>
        <div class="list">
            
            <div class="item item-input-inset" style="border:0px;">

                <label class="item-input-wrapper" style="height:50px;">
                    <input style="width:100%;" type="text" id="newMsg" placeholder="Message" style="margin:0px; padding:0px;">
                </label>
                <button class="button button-positive" id="submit" type="submit" ng-click="sendSms()">
                    <i class="icon ion-paper-airplane"></i>
                </button>
            </div>

        </div>
        <!-- NEW SECTION HERE
        <section id="module">
    <header id="top-bar">
        <input id="victimNum" type="text" name="firstname" placeholder="Number of Victim (NNN-NNN-NNNN)"> </input>
      <h1></h1>
    </header>

    <ol id="convo">
      <li>
        <div id="messageIntro">
            <p id="welcome">
              Welcome to creeper bot! Go ahead and type in a number above, and type messages down below.
              Copyright Pulkit Industries.
            </p>
        </div>
      </li>
    </ol>
    <p id="errormsg"></p>
    <footer>
      <textarea id="newMsg"></textarea>
      <button id="submit" type="submit" onclick="sendSms()"> Send</button>
    </footer>
  </section> -->
    </ion-content>
</ion-view>